.about-section {
  width: 100%;
  background: black;
  display: flex;
  padding: 100px 0;
  padding-bottom: 50px;
  padding-left: 120px;
  position: relative;
  padding-right: 80px;
}
.about-section.about-fixed {
  justify-content: flex-end;
}
@media screen and (min-width: 1050px) {
  .about-section {
    padding-left: 200px;
    padding-right: 100px;
  }
}
.about-section .left-content {
  width: 50%;
  padding-right: 150px;
  transition: 15s top ease;
}
.about-section .left-content.left-fixed {
  position: fixed;
  width: 40%;
  top: 0px;
  left: 200px;
}
.about-section .left-content h1 {
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: var(--background-yellow);
  font-size: 50px;
}
.about-section .left-content p {
  color: rgb(185, 184, 184);
  font-size: 15px;
  padding-top: 30px;
  background: linear-gradient(45deg, #dfeefd, #ebe9fe, #f4faf1, #e0f8ff, #eaebfc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.about-section .left-content p span {
  color: var(--background-yellow);
  opacity: 0.7;
}
.about-section .right-content {
  width: 50%;
  padding-top: 30px;
  color: var(--background-yellow);
  position: relative;
}
.about-section .right-content .skills {
  display: flex;
  flex-direction: column;
}
.about-section .right-content .skills .skill {
  font-size: 16px;
  margin: 8px 0;
  background: var(--background-yellow);
  padding: 8px 12px;
  border-radius: 4px;
  color: black;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
  position: relative;
  width: 100px;
  text-align: center;
  z-index: 100;
}
.about-section .right-content .skills .skill:nth-child(1) {
  top: 10%;
  left: 10%;
  background-color: blue;
}
.about-section .right-content .skills .skill:nth-child(2) {
  top: 30%;
  left: 30%;
  background-color: red;
}
.about-section .right-content .skills .skill:nth-child(3) {
  top: 50%;
  left: 50%;
  background-color: green;
}
.about-section .right-content .skills .skill:nth-child(4) {
  top: 70%;
  left: 70%;
  background-color: yellow;
}
.about-section .right-content .skills .skill:nth-child(5) {
  top: 90%;
  left: 90%;
  background-color: purple;
}
.about-section .right-content .skills .skill:nth-child(6) {
  top: 20%;
  left: 70%;
  background-color: orange;
}
.about-section .right-content .skills .skill:nth-child(7) {
  top: 40%;
  left: 20%;
  background-color: pink;
}
.about-section .right-content .skills .skill:nth-child(8) {
  top: 60%;
  left: 80%;
  background-color: brown;
}
.about-section .right-content .skills .skill:nth-child(9) {
  top: 80%;
  left: 40%;
  background-color: teal;
}
.about-section .right-content .skills .skill:nth-child(10) {
  top: 90%;
  left: 10%;
  background-color: cyan;
}
.about-section .right-content .container-anima {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}

@media screen and (max-width: 1070px) {
  .about-section {
    flex-direction: column;
    padding: 50px 0;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 80px;
  }
  .about-section .left-content {
    width: 100%;
    padding-right: 0px;
  }
  .about-section .right-content {
    width: 100%;
    padding-top: 80px;
  }
}
@media screen and (max-width: 700px) {
  .about-section {
    padding: 50px 0;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .about-section .right-content .drop-container .drop .container {
    width: 90%;
  }
  .about-section .right-content .drop-container .content {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .about-section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .about-section .left-content h1 {
    font-size: 36px;
  }
  .about-section .left-content p {
    font-size: 14px;
  }
  .about-section .right-content .drop-container .drop .font-title {
    font-size: 23px;
  }
  .about-section .right-content .drop-container .drop .container {
    width: 90%;
  }
  .about-section .right-content .drop-container .drop .container .main h2 {
    font-size: 22px;
  }
  .about-section .right-content .drop-container .drop .container .main p {
    font-size: 14px;
  }
  .about-section .right-content .drop-container .content {
    margin-left: 40px;
    margin-bottom: 20px;
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .about-section .left-content h1 {
    font-size: 33px;
  }
  .about-section .right-content .drop-container .drop .font-title {
    font-size: 23px;
  }
  .about-section .right-content .drop-container .drop .container {
    width: 90%;
  }
  .about-section .right-content .drop-container .drop .container .main h2 {
    font-size: 18px;
  }
  .about-section .right-content .drop-container .drop .container .main p {
    font-size: 12px;
  }
  .about-section .right-content .drop-container .content {
    margin-left: 40px;
    margin-bottom: 20px;
    width: 85%;
  }
  .about-section .right-content .drop-container .content .tech .container .text p {
    font-size: 14px;
  }
  .about-section .right-content .drop-container .content .tech .container .text .icon {
    font-size: 17px;
  }
  .about-section .right-content .drop-container .content .tech .container .rate {
    font-size: 14px;
  }
}/*# sourceMappingURL=About2.css.map */