.blog-page {
  background: black;
  //   height: 100vh;

  .blog-container {
    padding: 100px 250px;

    .time {
      padding-top: 120px;
      display: flex;
      width: 100%;
      align-items: center;
      color: var(--text-color);
      font-size: 14px;
      opacity: 0.8;
      padding-bottom: 15px;
      border-bottom: 0.2px solid var(--text-color);

      p {
        &:first-child {
          padding-right: 150px;
        }
      }
    }

    .content {
      color: var(--text-color);

      h1 {
        padding: 30px 0;
        -webkit-text-stroke: 0.5px;
        -webkit-text-stroke-color: var(--background-yellow);
        color: transparent;
        text-transform: capitalize;
      }

      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        user-select: none;
      }

      .content-text {
        padding-top: 15px;

        p {
          color: var(--text-color);
        }

        a {
          color: goldenrod;
        }

        ul {
          padding: 30px 0;
          list-style-type: disc;
          padding-left: 20px;
        }

        h2 {
          color: var(--background-yellow);
          opacity: 0.8;
          padding-bottom: 20px;
          padding-top: 30px;
        }

        b {
          color: rgb(180, 179, 179);
        }

        img {
          border: 0.1px solid gold;
        }

        .heading-paragraph {
          h2 {
            color: var(--background-yellow);
            opacity: 0.8;
            padding-bottom: 20px;
          }
        }

        .heading-paragraph-list {
          padding-top: 45px;

          h2 {
            color: var(--background-yellow);
            opacity: 0.8;
            padding: 0px;
          }

          ul {
            padding: 10px 0;
            padding-left: 20px;
          }
        }
      }
    }

    .controls {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;
      user-select: none;

      .read {
        a {
          color: var(--background-yellow);

          .arrow {
            display: flex;
            align-items: center;
            .ctn {
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.3s all ease-in-out;

              .bar {
                width: 40px;
                height: 2px;
                background: var(--background-yellow);
                transform: translateX(-20%);
                transition: 0.3s all ease-in-out;
              }
            }
          }

          &:hover {
            .arrow {
              .ctn {
                transform: translateX(-3%);

                .bar {
                  width: 50px;
                }
              }
            }
          }
        }
      }

      .icon {
        font-size: 23px;
        color: var(--background-yellow);
      }

      .read {
        a {
          .arrow-right {
            display: flex;
            align-items: center;

            .ctn {
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.3s all ease-in-out;

              .bar {
                width: 40px;
                height: 2px;
                background: var(--background-yellow);
                transform: translateX(20%);
                transition: 0.3s all ease-in-out;
              }
            }
          }

          &:hover {
            .arrow-right {
              .ctn {
                transform: translateX(3%);

                .bar {
                  width: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .blog-page {
    background: black;
    //   height: 100vh;

    .blog-container {
      padding: 100px 190px;
    }
  }
}

@media screen and (max-width: 870px) {
  .blog-page {
    background: black;
    //   height: 100vh;

    .blog-container {
      padding: 100px 150px;
    }
  }
}

@media screen and (max-width: 600px) {
  .blog-page {
    background: black;
    //   height: 100vh;

    .blog-container {
      padding: 100px 100px;

      .time {
        font-size: 12px;

        p {
          &:first-child {
            padding-right: 80px;
          }
        }
      }

      .content {
        h1 {
          font-size: 24px;
        }

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }

      .content-text {
        p {
          font-size: 14px;
        }

        i {
          font-size: 14px;
        }

        h2 {
          font-size: 20px;
        }

        ul {
          li {
            font-size: 14px;
          }
        }
      }

      .controls {
        .read {
          a {
            font-size: 12px;

            .arrow {
              .ctn {
                .bar {
                  width: 20px;
                  transform: translateX(-30%);
                }
              }
            }

            &:hover {
              .arrow {
                .ctn {
                  .bar {
                    width: 30px;
                  }
                }
              }
            }
          }
        }

        .icon {
          font-size: 16px;
          color: var(--background-yellow);
        }

        .read {
          a {
            .arrow-right {
              .ctn {
                .bar {
                  width: 20px;
                  transform: translateX(30%);
                }
              }
            }

            &:hover {
              .arrow-right {
                .ctn {
                  .bar {
                    width: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .blog-page {
    background: black;
    //   height: 100vh;

    .blog-container {
      padding: 100px 50px;
      padding-top: 50px;

      .time {
        font-size: 11px;

        p {
          &:first-child {
            padding-right: 50px;
          }
        }
      }

      .content {
        h1 {
          font-size: 22px;
        }

        .content-text {
          p {
            font-size: 12px;
          }

          i {
            font-size: 12px;
          }

          h2 {
            font-size: 18px;
          }

          ul {
            li {
              font-size: 12px;
            }
          }

          .heading-paragraph-list {
            padding-top: 25px;

            ul {
              padding: 0;
              padding-left: 20px;
              background-color: red;
            }
          }
        }
      }

      .controls {
        .read {
          a {
            font-size: 10px;

            .arrow {
              .ctn {
                .bar {
                  width: 20px;
                  transform: translateX(-30%);
                }

                .ict {
                  transition: 0.3s all ease-in-out;
                }
              }
            }

            &:hover {
              .arrow {
                .ctn {
                  .bar {
                    width: 30px;
                  }

                  .ict {
                    transform: translateX(-30%);
                  }
                }
              }
            }
          }
        }

        .icon {
          font-size: 14px;
          color: var(--background-yellow);
        }

        .read {
          a {
            .arrow-right {
              .ctn {
                .bar {
                  width: 20px;
                  transform: translateX(30%);
                }

                .ict {
                  transition: 0.3s all ease-in-out;
                }
              }
            }

            &:hover {
              .arrow-right {
                .ctn {
                  .bar {
                    width: 30px;
                  }

                  .ict {
                    transform: translateX(30%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
