.error-message {
  color: rgb(214, 95, 95);
  margin-bottom: 15px;
  width: 100%;
  background: rgba(255, 79, 79, 0.151);
  padding: 10px;
  border-radius: 5px;
}

.success-message {
  color: rgb(2, 143, 0);
  margin-bottom: 15px;
  width: 100%;
  background: rgba(139, 255, 168, 0.082);
  padding: 10px;
  border-radius: 5px;
}
