.footer {
  padding: 60px 120px;
  position: relative;

  @media screen and (min-width: 1050px) {
    padding: 60px 200px;
  }

  .contact-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 80px;

    h2 {
      font-weight: 400;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.685);
      padding-bottom: 30px;
      user-select: none;
    }

    a {
      color: rgb(0, 0, 0);
    }

    .ctc {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;

      .icon {
        font-size: 20px;
        margin-right: 20px;
      }
    }

    .socials {
      width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      transform: translateX(0);
      opacity: 1;
      transition: 0.8s all ease-in-out;

      a {
        font-size: 20px;
        transition: 0.3s all ease-in-out;

        &:hover {
          transform: scale(1.1) translateY(-5px);
          color: rgb(75, 66, 0);
        }
      }

      &.active {
        transform: translateX(100%);
        opacity: 0;
        transition: 0.8s all ease-in-out;
      }
    }
  }

  .contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 40px;

    .copyright {
      color: white;
    }

    .socials {
      width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      transform: translateX(0);
      opacity: 1;
      transition: 0.8s all ease-in-out;

      a {
        font-size: 20px;
        transition: 0.3s all ease-in-out;
        color: white;

        &:hover {
          transform: scale(1.1) translateY(-5px);
          color: rgb(239, 211, 0);
        }
      }

      &.active {
        transform: translateX(100%);
        opacity: 0;
        transition: 0.8s all ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .footer {
    padding: 60px 90px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding: 60px 60px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 60px 40px;

    .contact-view {
      p {
        font-size: 13px;
      }
    }

    .copyright {
      font-size: 14px;
    }
  }
}
