.home {
  width: 100%;
  overflow-x: hidden;

  main {
    display: flex;
    width: 100%;
  }

  .loading-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 100000000000000000000000;
    overflow: hidden;
    // display: none;

    .loader {
      position: absolute;
      left: 50%;
      top: 50%;
      // transform: translate(50%, 50%);
      z-index: 100;
      width: 40px;
      height: 40px;
      margin: -76px 0 0 -76px;
      border: 3px solid #3d3d3d;
      border-radius: 50%;
      border-top: 3px solid #ffffff;
      animation: spin 2s linear infinite;
    }

    .ids-ripple {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      z-index: 200;

      div {
        position: absolute;
        border-radius: 50%;
        border: 4px solid #fff;
        opacity: 1;
        animation: ids-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }

      @keyframes ids-ripple {
        0% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 0;
        }
        4.9% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 0;
        }
        5% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: 0;
          left: 0;
          width: 72px;
          height: 72px;
          opacity: 0;
        }
      }
    }

    .fade {
      opacity: 0;
      pointer-events: none;
      transition: 0.5s all ease-in-out;
    }

    .left {
      background: rgb(0, 0, 0);
      object-fit: cover;
      width: 100%;
      height: 50%;
      animation-delay: 3s;
      animation-duration: 4s;
      animation-name: move-left;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      position: relative;
      z-index: 199;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   display: block;
      //   border-radius: 100% 50%;
      //   transform: translate(85%, 60%);
      //   width: 55%;
      //   height: 100%;
      //   background: var(--background-yellow);
      // }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   display: block;
      //   border-radius: 100% 50%;
      //   transform: translate(-4%, 40%);
      //   width: 55%;
      //   z-index: 10;
      //   height: 100%;
      //   background: black;
      // }
    }

    .right {
      background: var(--background-yellow);
      width: 100%;
      height: 50%;
      animation-delay: 3s;
      animation-duration: 4s;
      animation-name: move-right;
      animation-fill-mode: forwards;
      transform: translateY(0);
      animation-timing-function: ease-in-out;
      object-fit: cover;
      z-index: 199;
    }
  }

  .remove-load {
    display: none;
    pointer-events: none;
  }
}

.overflow-home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home-responsive {
  overflow-y: hidden;
}

.fixed-nav {
  position: fixed;
  bottom: -50%;
  left: 50%;
  color: rgba(255, 255, 255, 0.722);
  transform: translate(-50%, -5%);
  padding: 20px 40px;
  background: rgba(15, 15, 15, 0.219); /* Semi-transparent white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.042); /* Add a subtle shadow */
  backdrop-filter: blur(10px);
  border-radius: 50px;
  transition: 0.5s all ease-in-out;

  &.activate {
    bottom: 5%;
  }

  span {
    margin-right: 30px;
    font-size: 23px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 600px) {
    & {
      padding: 20px 30px;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  main {
    flex-direction: column;
  }
}

@media screen and (min-width: 1071px) {
  main {
    height: 100vh;
  }
}

@keyframes move-left {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1000%);
    pointer-events: none;
  }
}

@keyframes move-right {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(1000%);
    pointer-events: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transfrom: rotate(360deg);
  }
}
