.left-home {
  height: 100%;
  flex: 0.6;
  background-color: black;
  padding-left: 120px;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  user-select: none;

  @media screen and (min-width: 1050px) {
    padding-left: 200px;
  }

  // &.scroll {
  //   padding-bottom: 90px;
  // }

  .content {
    h1 {
      -webkit-text-stroke: 0.5px;
      -webkit-text-stroke-color: var(--background-yellow);
      font-size: 60px;
      line-height: 50px;

      span {
        color: white;
        font-size: 40px;
        -webkit-text-stroke: 0;
        -webkit-text-stroke-color: transparent;
        padding-left: 3px;
      }
    }

    .info {
      color: rgb(185, 184, 184);
      padding-top: 25px;
      width: 60%;
      font-size: 15px;
      background: linear-gradient(
        45deg,
        #dfeefd,
        #ebe9fe,
        #f4faf1,
        #e0f8ff,
        #eaebfc
      );
      -webkit-background-clip: text; /* For Webkit/Blink browsers like Chrome and Safari */
      background-clip: text;
      color: transparent;

      .name-span {
        color: var(--background-yellow);
        text-transform: uppercase;
        font-weight: 600;
        opacity: 0.9;
      }
    }

    .skills {
      color: var(--background-yellow);
      display: flex;
      justify-content: space-between;
      width: 70%;
      opacity: 0.7;
      margin-top: 100px;
      font-size: 12px;

      p {
        width: 45%;
      }

      p:first-child {
        margin-right: 0px;
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .left-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    padding-left: 90px;

    .content {
      padding-top: 100px;
      // display: flex;
      // flex-direction: column;
      align-items: center;
      h1 {
        font-size: 50px;
        line-height: 50px;

        span {
          font-size: 40px;
          -webkit-text-stroke: 0;
          -webkit-text-stroke-color: transparent;
          padding-left: 3px;
        }
      }

      .info {
        padding-top: 25px;
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 805px) {
  .left-home {
    .content {
      .info {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .left-home {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;

    .content {
      .info {
        width: 90%;
      }

      .skills {
        color: var(--background-yellow);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        opacity: 0.7;
        margin-top: 100px;

        p:first-child {
          margin-right: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .left-home {
    padding-right: 40px;
    padding-left: 40px;

    .content {
      .info {
        width: 100%;
      }

      .skills {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .left-home {
    .content {
      h1 {
        font-size: 38px;
      }

      .info {
        font-size: 14px;
      }

      .skills {
        font-size: 12px;
      }
    }
  }
}
