.portfolio-section-container {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}
.portfolio-section-container .letter {
  position: absolute;
  display: none;
  top: -13%;
  right: -60%;
  font-size: 25em;
  color: rgb(82, 81, 81);
  opacity: 0.1;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: black;
  background: linear-gradient(45deg, #dfeefd, #ebe9fe, #f4faf1, #e0f8ff, #eaebfc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(255, 200, 0);
  opacity: 0.2;
}
.portfolio-section-container .portofolio-section {
  background: black;
  padding: 50px 0;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.portfolio-section-container .portofolio-section h1 {
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: var(--background-yellow);
  font-size: 70px;
}
.portfolio-section-container .portofolio-section .content {
  padding-top: 30px;
}
.portfolio-section-container .portofolio-section .content p {
  color: var(--text-color);
  font-size: 16px;
  background: linear-gradient(45deg, #dfeefd, #ebe9fe, #f4faf1, #e0f8ff, #eaebfc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.portfolio-section-container .portofolio-section .content p a {
  color: var(--background-yellow);
  opacity: 0.7;
  transition: 0.3s all ease-in-out;
}
.portfolio-section-container .portofolio-section .content p a:hover {
  opacity: 0.5;
}
.portfolio-section-container .portofolio-section section {
  width: 100%;
  padding: 100px 0;
}
.portfolio-section-container .portofolio-section section .projects {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: flex-start;
  justify-content: flex-start;
}
.portfolio-section-container .portofolio-section section .projects .proj {
  height: 280px;
  position: relative;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  color: black;
  background: rgba(22, 20, 0, 0.762);
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio-section-container .portofolio-section section .projects .proj .overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgb(206, 178, 21);
  transform-origin: right;
  width: 0%;
  height: 3px;
  transition: 0.3s all ease-in-out;
}
.portfolio-section-container .portofolio-section section .projects .proj:hover .overlay {
  width: 100%;
  left: 0;
  right: auto;
}
.portfolio-section-container .portofolio-section section .projects .proj h3 {
  color: rgb(206, 178, 21);
}
.portfolio-section-container .portofolio-section section .projects .proj .stack span {
  background: rgba(0, 0, 0, 0.575);
  color: rgb(206, 178, 21);
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 3px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
  .portfolio-section-container .portofolio-section section .projects .proj .stack span {
    font-size: 10px;
    padding: 3px;
  }
}
.portfolio-section-container .portofolio-section section .projects .proj p.desc {
  font-size: 14px;
  color: rgb(206, 178, 21);
}
.portfolio-section-container .portofolio-section section .projects .proj .end {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.portfolio-section-container .portofolio-section section .projects .proj .end .view {
  display: flex;
  align-items: center;
  color: rgb(206, 178, 21);
}
.portfolio-section-container .portofolio-section section .projects .proj .end .view p {
  padding-left: 10px;
  font-size: 14px;
}
.portfolio-section-container .portofolio-section section .projects .proj .end .git-container {
  color: rgb(179, 154, 17);
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.portfolio-section-container .portofolio-section section .projects .project {
  height: 280px;
  position: relative;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  color: black;
}
.portfolio-section-container .portofolio-section section .projects .project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s all ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.portfolio-section-container .portofolio-section section .projects .project .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: rgba(68, 58, 1, 0.459);
  pointer-events: none;
  transition: 0.3s all ease-in-out;
  opacity: 0.4;
}
.portfolio-section-container .portofolio-section section .projects .project .title-overlay {
  position: absolute;
  content: "";
  bottom: -100%;
  left: 0;
  background: gold;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  transition: 0.3s all ease-in-out;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
}
.portfolio-section-container .portofolio-section section .projects .project .title-overlay p {
  font-size: 14px;
}
.portfolio-section-container .portofolio-section section .projects .project .title-overlay h3 {
  cursor: default;
}
@media screen and (max-width: 600px) {
  .portfolio-section-container .portofolio-section section .projects .project .title-overlay .technologies {
    padding-top: 5px;
  }
}
.portfolio-section-container .portofolio-section section .projects .project .title-overlay .technologies {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.portfolio-section-container .portofolio-section section .projects .project .title-overlay .technologies .stack {
  flex: 0.8;
}
.portfolio-section-container .portofolio-section section .projects .project .title-overlay .technologies .stack span {
  background: rgba(0, 0, 0, 0.575);
  color: rgb(253, 220, 33);
  font-size: 11px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 3px;
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .portfolio-section-container .portofolio-section section .projects .project .title-overlay .technologies .stack span {
    font-size: 10px;
    padding: 3px;
  }
}
.portfolio-section-container .portofolio-section section .projects .project .title-overlay .technologies a {
  flex: 0.2;
  color: black;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.portfolio-section-container .portofolio-section section .projects .project .title-overlay .technologies a .git {
  float: left;
}
.portfolio-section-container .portofolio-section section .projects .project .view {
  position: absolute;
  content: "";
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%) scale(0.8);
  background: gold;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: black;
}
.portfolio-section-container .portofolio-section section .projects .project .view p {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  .portfolio-section-container .portofolio-section section .projects .project .view {
    top: 8%;
    transform: translate(-50%, -8%) scale(0.65);
  }
}
.portfolio-section-container .portofolio-section section .projects .project:hover img {
  transform: scale(1.3);
}
.portfolio-section-container .portofolio-section section .projects .project:hover .view {
  opacity: 1;
}
.portfolio-section-container .portofolio-section section .projects .project:hover .overlay {
  background: none;
}
.portfolio-section-container .portofolio-section section .projects .project:hover .title-overlay {
  bottom: 0;
}

/* Extra small devices (phones, 0 - 576px) */
@media only screen and (max-width: 576px) {
  .portfolio-section-container .portofolio-section {
    width: 90%;
  }
  .portfolio-section-container .portofolio-section h1 {
    font-size: 40px;
  }
}
/* Small devices (landscape phones, 576px - 768px) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .portfolio-section-container .portofolio-section {
    width: 80%;
  }
}
/* Medium devices (tablets, 768px - 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .portfolio-section-container .portofolio-section {
    width: 80%;
  }
}
/* Large devices (desktops/laptops, 992px - 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .portfolio-section-container .portofolio-section {
    width: 80%;
  }
}/*# sourceMappingURL=Portfolio2.css.map */