.portofolio-section {
  background: black;
  padding: 50px 0;
  overflow-x: hidden;
  position: relative;
}
.portofolio-section h1 {
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: var(--background-yellow);
  font-size: 50px;
  padding-left: 120px;
}
.portofolio-section .content {
  padding-left: 125px;
  padding-right: 120px;
  padding-top: 30px;
}
.portofolio-section .content p {
  color: var(--text-color);
  font-size: 14px;
}
.portofolio-section .content p a {
  color: var(--background-yellow);
  opacity: 0.7;
  transition: 0.3s all ease-in-out;
}
.portofolio-section .content p a:hover {
  opacity: 0.5;
}
.portofolio-section section {
  width: 100%;
  padding: 100px 100px;
  padding-left: 120px;
}
.portofolio-section section .projects {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
}
.portofolio-section section .projects .proj {
  height: 280px;
  position: relative;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  color: black;
  background: rgb(24, 22, 0);
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portofolio-section section .projects .proj .overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgb(206, 178, 21);
  transform-origin: right;
  width: 0%;
  height: 3px;
  transition: 0.3s all ease-in-out;
}
.portofolio-section section .projects .proj:hover .overlay {
  width: 100%;
  left: 0;
  right: auto;
}
.portofolio-section section .projects .proj h3 {
  color: rgb(206, 178, 21);
}
.portofolio-section section .projects .proj .stack span {
  background: rgba(0, 0, 0, 0.575);
  color: rgb(206, 178, 21);
  font-size: 11px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 3px;
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .portofolio-section section .projects .proj .stack span {
    font-size: 10px;
    padding: 3px;
  }
}
.portofolio-section section .projects .proj p.desc {
  font-size: 14px;
  color: rgb(206, 178, 21);
}
.portofolio-section section .projects .proj .end {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.portofolio-section section .projects .proj .end .view {
  display: flex;
  align-items: center;
  color: rgb(206, 178, 21);
}
.portofolio-section section .projects .proj .end .view p {
  padding-left: 10px;
  font-size: 14px;
}
.portofolio-section section .projects .proj .end .git-container {
  color: rgb(179, 154, 17);
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.portofolio-section section .projects .project {
  height: 280px;
  position: relative;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  color: black;
}
.portofolio-section section .projects .project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s all ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.portofolio-section section .projects .project .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: rgba(68, 58, 1, 0.459);
  pointer-events: none;
  transition: 0.3s all ease-in-out;
  opacity: 0.4;
}
.portofolio-section section .projects .project .title-overlay {
  position: absolute;
  content: "";
  bottom: -100%;
  left: 0;
  background: gold;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  transition: 0.3s all ease-in-out;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
}
.portofolio-section section .projects .project .title-overlay p {
  font-size: 14px;
}
.portofolio-section section .projects .project .title-overlay h3 {
  cursor: default;
}
@media screen and (max-width: 600px) {
  .portofolio-section section .projects .project .title-overlay .technologies {
    padding-top: 5px;
  }
}
.portofolio-section section .projects .project .title-overlay .technologies {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.portofolio-section section .projects .project .title-overlay .technologies .stack {
  flex: 0.8;
}
.portofolio-section section .projects .project .title-overlay .technologies .stack span {
  background: rgba(0, 0, 0, 0.575);
  color: rgb(253, 220, 33);
  font-size: 11px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 3px;
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .portofolio-section section .projects .project .title-overlay .technologies .stack span {
    font-size: 10px;
    padding: 3px;
  }
}
.portofolio-section section .projects .project .title-overlay .technologies a {
  flex: 0.2;
  color: black;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.portofolio-section section .projects .project .title-overlay .technologies a .git {
  float: left;
}
.portofolio-section section .projects .project .view {
  position: absolute;
  content: "";
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%) scale(0.8);
  background: gold;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: black;
}
.portofolio-section section .projects .project .view p {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  .portofolio-section section .projects .project .view {
    top: 8%;
    transform: translate(-50%, -8%) scale(0.65);
  }
}
.portofolio-section section .projects .project:hover img {
  transform: scale(1.3);
}
.portofolio-section section .projects .project:hover .view {
  opacity: 1;
}
.portofolio-section section .projects .project:hover .overlay {
  background: none;
}
.portofolio-section section .projects .project:hover .title-overlay {
  bottom: 0;
}
.portofolio-section .letter {
  position: absolute;
  top: -13%;
  right: -29%;
  font-size: 25em;
  color: rgb(82, 81, 81);
  opacity: 0.1;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media screen and (max-width: 1070px) {
  .portofolio-section h1 {
    padding-left: 90px;
  }
  .portofolio-section .content {
    padding-left: 95px;
    padding-right: 80px;
    padding-top: 30px;
  }
  .portofolio-section section {
    padding: 60px 0;
    padding-left: 95px;
    padding-right: 80px;
  }
  .portofolio-section .letter {
    right: -19%;
    font-size: 24em;
  }
}
@media screen and (max-width: 960px) {
  .portofolio-section .letter {
    right: -19%;
    font-size: 20em;
    top: -5%;
  }
}
@media screen and (max-width: 805px) {
  .portofolio-section .letter {
    right: -23%;
    font-size: 19em;
    top: 0%;
  }
}
@media screen and (max-width: 700px) {
  .portofolio-section h1 {
    padding-left: 60px;
  }
  .portofolio-section .content {
    padding-left: 65px;
    padding-right: 60px;
    padding-top: 30px;
  }
  .portofolio-section section {
    padding: 60px 0;
    padding-left: 65px;
    padding-right: 60px;
  }
  .portofolio-section .letter {
    right: -28%;
    font-size: 19em;
    top: 0%;
  }
}
@media screen and (max-width: 500px) {
  .portofolio-section h1 {
    font-size: 35px;
    padding-left: 45px;
  }
  .portofolio-section .content {
    padding-left: 45px;
    padding-right: 40px;
  }
  .portofolio-section .content p {
    font-size: 14px;
  }
  .portofolio-section .content button {
    padding: 10px 50px;
    font-size: 14px;
  }
  .portofolio-section section {
    padding: 60px 0;
    padding-left: 45px;
    padding-right: 40px;
  }
  .portofolio-section .letter {
    right: -28%;
    font-size: 17em;
    top: 0%;
  }
}
@media screen and (max-width: 400px) {
  .portofolio-section .letter {
    font-size: 15em;
  }
}/*# sourceMappingURL=Portfolio2.css.map */