.right-home {
  background: var(--background-yellow);
  flex: 0.4;
  padding-right: 70px;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding-bottom: 150px;
  user-select: none;

  .shapes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .square {
      border: 3px solid black;
      width: 10px;
      height: 10px;
    }

    .poly {
      margin-top: 12px;
      background: black;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
    }
  }
}

@media screen and (max-width: 1070px) {
  .right-home {
    display: none;
  }
}
