@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: rgba(255, 208, 0, 0.088);
}

body {
  font-family: poppins, "cursive";
  height: 100vh;
  background: black;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

:root {
  --background-yellow: rgb(255, 208, 0);
  --bg-light-yellow: rgb(235, 224, 164);
  --text-color: rgb(165, 165, 165);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.overflow {
  overflow: hidden;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(116, 95, 0));
  border-radius: 6px;
}

body.remove-mouse {
  cursor: none;
  /* The cursor property hides the default cursor */
}

/* Create a circular cursor */
body.remove-mouse::before {
  content: "";
  position: absolute;
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  border: 2px solid #000; /* Color of the circle */
  border-radius: 50%; /* Makes it a circle */
  pointer-events: none; /* Prevents cursor from interfering with content */
}
